
     .top{
          text-align: right;
         }

.top a{text-decoration: none;
color: black;}

.top a:hover {text-decoration: underline;}
.top a.login {background-color: blue;}
.top a.login:hover {background-color: blueviolet;}